/*

  Tailwind "driver" stylesheet. If you change this file, you have to rebuild tailwind-gen.css by running npm run build:tailwind.

*/

@tailwind base;

@tailwind components;

@tailwind utilities;

.inset-below {
  left: 50%;
  transform: translateX(-50%);
}

.text-xxs {
  font-size: .625rem;
}

.h-screen-25 {
  height: 25vh;
}

.h-max-screen-25 {
  max-height: 25vh;
}

/* custom style to set the height of the html body. 88px is the approximate height of the nav header. */

.app-height {
  height: calc(100% - 88px);
}

.dashboard-grid-height {
  height: calc(100% - 50px);
}

.h-80 {
  height: 21rem;
}

.w-72 {
  width: 18rem;
}

.text-xxs {
  font-size: .6rem;
}

.max-h-half {
  max-height: 50vh;
}

.cursor-grab {
  cursor: grab
}