/*
  Override dragula styles here
*/
.gu-transit {
  /* Don't display the dragged container in the target container */
  display: none;
}
.gu-mirror {
  border-width: .1em;
  border-color: darkblue;
}